* {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.page-header {
    background: url("../img/bghead.jpg");
    padding-top: 26px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 840px;
    
}

.container {
    max-width: 1146px;
    margin: 0 auto;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 289px;
    padding-right: 25px;
}

.logotype {
    width: 100%;
}

.menu-links {
    display: flex;
    margin-right: -10px;
}


.menu-link {
    display: block;
    padding: 4px 10px;
    transition: background-color 0.15s ease;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 20px;
}

.menu-link:hover {
    background-color: #130E27;
}

#burger-checkbox {
    display: none;
}

.burger-decorate {
    width: 40px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    display: block;
    transition: opacity 0.1s ease;
    
}

.burger-button {
    width: 40px;
    position: relative;
    top: -4px;
    cursor: pointer;
    padding: 15px 0;
    display: none;
    
}

.burger-button::before,
.burger-button::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    left: 0;
    background-color: white;
    transition: all 0.15s ease;
}


.burger-button::before {
    top: 5px;
}

.burger-button::after {
    bottom: 5px;
}

#burger-checkbox:checked ~ .menu-links {
    display: flex;
    flex-direction: column;
}

#burger-checkbox:checked + .burger-button .burger-decorate {
    opacity: 0;
}

#burger-checkbox:checked + .burger-button::before {
    transform: rotate(-45deg);
    top: 50%;
}
#burger-checkbox:checked + .burger-button::after {
    transform: rotate(45deg);
    top: 50%;
}



.request {
    display: flex;
    justify-content: space-between;
    margin-top: 175px;
    flex-wrap: wrap;
}

.main-heading {
    color: #130E27;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 530px;
    padding-right: 30px;
}

.main-accent {
    color: white;
}

.request-form {
    padding: 34px 31px;
    background-color: white;
    filter: drop-shadow(0 4px 30px rgba(0,0,0,0.4));
    border-radius: 5px;
    max-width: 508px;
    box-sizing: border-box;
}

.form-heading {
    text-transform: uppercase;
    color: #130E27;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
}

.request-input {
    font-size: 20px;
    padding: 19px 20px;
    text-transform: uppercase;
    color: #777777;
    border: 3px solid transparent;
    width: 100%;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    background-color: #EEEEEE;
    margin-bottom: 30px;
    outline: none;
}

.request-input:focus {
    color: #130E27;
    border: 3px solid #130E27;
}

.rules {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 17px;
}

.request-button {
    font-size: 22px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 100%;
    padding: 25px 0;
    border: none;
    background-color: #C62314;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.request-button:hover {
    background-color: #b11b0d;
}

.heading {
    font-weight: bold;
    color: #130E27;
    font-size: 50px;
    text-transform: uppercase;
}

.accent {
    color: #C62314;
}

.headserv {
    position: relative;
    top: -50px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap: wrap;
}

.service-item {
    text-align: center;
    font-size: 24px;
    max-width: 250px;
    height: 308px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story {
    background-color: #130E27;
    padding: 50px 0;
    margin-top: 100px;
    margin-bottom: 80px;
}

.story-content {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.story-text {
    max-width: 800px;
    padding-right: 15px;
}

.story-button {
    color: white;
    background-color: #C62314;
    border-radius: 5px;
    padding: 20px 55px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    display: inline-block;

}

.price-heading {
    text-align: center;
    margin-bottom: 50px;
}

.price-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.price-item {
    padding: 30px 28px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.4);
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 360px;
    background-color: white;
}

.pack-name {
    font-family: "Roboto",sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
}

.price {
    font-family: "Roboto",sans-serif;
    font-size: 64px;
    color: #C62314;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.advantages li{
    font-family: "Roboto",sans-serif;
    margin-bottom: 8px;
}

.buy-button {
    display: block;
    padding: 13px 0;
    color: white;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    background-color: #130E27;
    border-radius: 5px;
    margin-top: 50px;
}

.buy-button.accent{
    background-color: #C62314;
}

.testimonial-and-gallery__innner {
    display: flex;
    justify-content: space-between;
    margin-top: 208px;
}

.testimonial {
    max-width:45%;
}

.worker-text-content {
    font-size: 20px;
}

.testimonial .heading {
    text-align: center;
    margin-bottom: 45px;
}

.testimonial-worker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}

.worker-text {
    color: black;
    font-family: "Roboto",sans-serif;
    margin-bottom: 12px;
    line-height: 1.5;
}

.worker-name {
    color: #130E27;
}

.gallery .heading {
    text-align: center;
}

.gallery {
    max-width: 45%;
    text-align: center;
}

.gallery-image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
}

.gallery-link {
    display: block;
    color: #130E27;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 30px;
}

.page-footer {
    background-color: #130E27;
    padding: 70px 0;
    color: white;
}

.page-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    max-width: 212px;
    margin-left: 30px;
}

.footer-logo img {
    width: 100%;
}

.price-item:nth-child(2) {
    position: relative;
    overflow: hidden;
}

.price-item:nth-child(2)::before {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #C62314;
    content: '';
    top: 0;
    left: 0;
    transform: rotate(45deg);
    left: -50px;
    top: -50px;
}

.price-item:nth-child(2)::after {
    content: 'popular';
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    color: white;
    position: absolute;
    transform: rotate(-45deg);
    top: 16px;
    left: 0;
}

.service-img {
    max-width: 180px;
    max-height: 180px;
    margin: 0 auto;

}

.service-img img{
    width: 100%;
    height: 100%;
}




@media screen and (max-width: 1180px) {
    .container {
        max-width: 1176px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-header {
        background-size: auto;
    }
}

@media screen and (max-width: 1098px) {
    
    .request {
        justify-content: center;
        margin-top: 100px;
    }

    .main-heading {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        margin-bottom: 30px;
    }

    .headserv {
        position: static;
        margin-top: 30px;
    }

    .story-button {
        font-size: 20px;
        white-space: nowrap;
    }
    .page-header {
        background-size: auto;
    }

}

@media screen and (max-width: 1030px) {
    
    
    .services-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        justify-items: center;
        gap: 70px;
    }

    .services-container {
        margin-top: 50px;
    }

    .headserv {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 0;
    }
}

 
@media screen and (max-width: 924px) {

    .price-content {
        grid-template-columns: 1fr;
    }

    .price-item {
        max-width: none
    }

    .testimonial-and-gallery__innner {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .testimonial {
        max-width: 95%;
    }

    .gallery {
        max-width: 500px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

    .testimonial-worker {
        margin-bottom: 50px;
    }

}

@media screen and (min-width: 777px) {
    #burger-checkbox:checked ~ .menu-links {
        flex-direction: row;
    }
}


@media screen and (max-width: 776px) {

    .menu-links {
        display: none;
        position: absolute;
        right: 0;
        z-index: 1000;
        top: 100px;
        text-align: right;
        background-color: white;
        border-radius: 5px 0 0 5px;
        padding: 10px 15px 10px 15px;
        box-shadow: 0 4px 30px rgba(0,0,0,0.4);
        margin-right: 0;
    }



    .burger-button {
        display: block;
    }

    .menu-link {
        color: #130E27;
        margin: 10px 0;
    }

    .menu-link:hover {
        color: white;
        background-color: #130E27;
    }



}

@media screen and (max-width: 630px) {

    .main-heading {
        font-size: 70px;
    }

    .story-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .story-text {
        padding: 0 15px;
        margin-bottom: 30px;
        text-align: center;
    }

    

}

@media screen and (max-width: 450px) {

    .main-heading {
        font-size: 60px;
    }

    .story-button {
        padding: 10px 15px;
        font-size: 16px;
    }

    .heading {
        font-size: 40px;
    }

    .request-button {
        font-size: 18px;
        padding: 18px 0;
    }

    .request-input {
        font-size: 16px;
    }

    .service-text {
        font-size: 20px;
    }

    .copy-right {
        font-size: 14px;
    }

    .services-container {
        grid-template-columns: 1fr;
    }
    
    .service-item {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: none;
        text-align: left;
        height: auto;
    }

    .service-img {
        max-width: 50px;
        max-height: 50px;
        margin-right: 30px;
    }

}

@media screen and (max-width: 380px) {
    .main-heading {
        font-size: 50px;
    }

    .request-form {
        padding: 20px 15px;
    }

    .form-heading {
        font-size: 18px;
        margin-bottom: 35px;
    }
    .request-input {
        padding: 10px 10px;
        margin-bottom: 15px;
    }

    .rules {
        font-size: 14px;
    }

    .request-button {
        font-size: 16px;
    }

    .testimonial-worker {
        display: grid;
        grid-template-rows: auto auto;
    }

    .worker-image {
        grid-row: -1 / 1;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .main-heading {
        font-size: 40px;
    }
}

